<!DOCTYPE html>
<html lang="en">

<%- include('partials/_head', { title, description, includeCSS }); %>

  <body>
    <!-- header -->
    <%- include('partials/_nav'); %>

      <div class="mainContainer">
        <h6 id="travel">it's time to travel!</h6>
        <h2 class="heading3" id="reservation"> flight reservation</h2>
        <p>please, make sure you fill in the correct details which is in your passport</p>
        <div class="holder">
          <div class='wrapper'>
            <h4> save extra $300 with <span>your discount ID <stron>F/RITE/326/8691</strong></span></h4>
            <div class='left'>
              <div>
                <h3>location :</h3>
              </div>
              <div>
                <h3>date :</h3>
              </div>
              <div>
                <h3>destination :</h3>
              </div>
              <div>
                <h3>arrival :</h3>
              </div>
              <div>
                <h3>price :</h3>
              </div>
              <div>
                <h3>take of time :</h3>
              </div>
              <div>
                <h3>pressanger/ cabin:</h3>
              </div>
            </div>
            <div class='right'>

              <div class="form">
                <h6 class="special">call us to book and save more</h6>
                <h1>or request an offer</h1>

                <div class="left">
                  <h5 class="heading4"> name <div><input type="text" placeholder="e.g Juliet best"></div>
                  </h5>
                  <h5 class="heading4">phone number <div><input type="text" placeholder="eg. +133081...."></div>
                  </h5>

                  <h5 class="heading4">to* <div><input type="text" placeholder="canada"></div>
                  </h5>
                  <h5 class="heading4">return date<div><input type="text" placeholder="30/4/2024"></div>
                  </h5>

                  <h5 class="heading4">Email <div><input type="email" placeholder="someone@gmail.com"></div>
                    </h3>
                </div>

                <div id="btn"><input type="button" value="get free quote"></div>
              </div>
              </section>
            </div>
          </div>























        </div>
      </div>
  </body>

</html>